venv
*.pyc
firmware/knock_asproject/knock_asproject/Debug/
.idea/*
firmware/knock_asproject/knock_asproject.atsuo
*.d
*.eep
*.elf
*.hex
*.lss
*.map
*.o
firmware/atmelstudio/knocksolution/knocksolution/Debug/Makefile
firmware/atmelstudio/knocksolution/knocksolution/Debug/knocksolution.srec
firmware/atmelstudio/knocksolution/knocksolution/Debug/makedep.mk
